<div class="container-fluid w-100 d-flex justify-content-center">
  
    <div class="row mt-5 custom-row w-100">
      <div class="col-12 col-sm-3 custom-nav-profile-left g-0">
      
        <ul class="custom-profile__nav">
          <li class="custom-profile__nav__item"> <%= link_to "Profile", user_profile_path(current_user.id),
           data: { turbo_frame: "profile-info-window" }%> </li>
  
          <li class="custom-profile__nav__item"><%= link_to "Purchases",user_purchases_path(@user), data: { turbo_frame: "profile-info-window" } %></li>
          <li class="custom-profile__nav__item"><%= link_to "Settings", user_settings_path(@user), data: { turbo_frame: "profile-info-window" } %></li>
        </ul>

      </div>

      <div class="col-12 col-sm-9 d-flex justify-content-start align-items-start">
  
  
         <%= turbo_frame_tag "profile-info-window", class:"w-100" do %>
          <div class="row">
            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="p-2 list-group-item d-flex justify-content-between align-items-start p-sm-4">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                      <%= link_to "Personal Data", user_personal_info_path(current_user.id), class:"text-decoration-none" %>
                    </div>
                    Manage your personal data
                  </div>
                </li>
                <li class="p-2 list-group-item d-flex justify-content-between align-items-start p-sm-4">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                      <%= link_to "Addresses", user_addresses_path(current_user.id), class:"text-decoration-none" %>
                    </div>
                    Manage your addresses
                  </div>
                </li>
                <li class="p-2 list-group-item d-flex justify-content-between align-items-start p-sm-4">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                      <%= link_to "Cards", user_cards_path(current_user.id), class:"text-decoration-none" %>
                    </div>
                    Manage your cards
                  </div>
                </li>
                <li class="p-2 list-group-item d-flex justify-content-between align-items-start p-sm-4">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                      <%= link_to "Security", user_security_path(current_user.id), class:"text-decoration-none" %>
                    </div>
                    Manage your security settings
                  </div>
                </li>
              </ul>
            </div>
          </div>
  
      <% end %>
  
  
      </div>
    </div>
</div>
