<%= turbo_frame_tag 'profile-info-window' do %>

<div class="container-fluid">
  
  <div class="row">
   
    <div class="col-10">
      <div class="container">
        
        <div class="row mb-5">
          <div class="col">
            <h1>Purchases</h1>
          </div>
        </div>

        <div class="row text-center">
          <div class="col">
          <table class="table table-hover ">
            <thead>
              <tr>
                <th>Purchase ID </th>
                <th>Qty </th>
                <th>Total Cost</th>
                <th>Item</th>
                <th>Review</th>
             </tr> 
            </thead>
                                       
            <tbody>
              <% @purchase_list.each do |purchase|%> 
               <tr>
                <td><%= purchase.purchase_id%></td>
                <td><%= purchase.item_qty%></td>
                <td><%= purchase.item_price * purchase.item_qty%></td>
                <td><%= link_to purchase.product.name,  purchase.product, data: { turbo_frame: "_top" }%></td>
                <td>
                    <% if purchase.review_id%>
                    <%= purchase.review_id%>
                    <%else %>
                    <%= link_to "Review Item",  new_purchase_product_review_path(purchase.id), data: { turbo_frame: "_top" }%>
                    <% end %>
                </td>      
              </tr>
              <% end%>
          </tbody>
          </table>


            <div class="digg_pagination d-flex justify-content-center mt-3">
              <%= will_paginate @purchase_list, :container => false %>
            </div>


          </div>     
        </div>

      </div>
    </div>

  </div>
</div>
<% end %>