<%= turbo_frame_tag 'profile-info-window' do %>

<div class="container-fluid">
  
  <div class="row">
   
    <div class="col-10">
      <div class="container">
        
        <div class="row mb-5">
          <div class="col">
            <h1>Purchases</h1>
          </div>
        </div>

        <div class="row text-center">
          <div class="col">

            <div class="row">
              <div class="col-2"> Purchase ID </div>
              <div class="col-1"> Qty </div>
              <div class="col-2"> Total Cost </div>
              <div class="col-6"> Item </div>
              <div class="col-1"> Review</div>
            </div>   
                                       
          

            <% @purchase_list.each do |purchase|%> 
            <div class="row">
              <div class="col-2 text-center"><%= purchase.purchase_id%></div>
              <div class="col-1 text-center"><%= purchase.item_qty%></div>
              <div class="col-2 text-center"><%= purchase.item_price * purchase.item_qty%></div>
              <div class="col-6 text-center"><%= purchase.product.name%></div>     
              <div class="col-1 text-center">
              <% if purchase.review_id%>
               <%= purchase.review_id%>
              <%else %>
              <%= link_to "Review Item",  new_purchase_product_review_path(purchase.id)%>
              <% end %>
              
              </div>     
            </div>
            <% end%>



            <div class="digg_pagination d-flex justify-content-center mt-3">
              <%= will_paginate @purchase_list, :container => false %>
            </div>


          </div>     
        </div>


        <div class="row text-center mt-5">
             <div class="col">Seems like there are some items that you havent reviewed. Please let us know what you think!</div>
        </div>   

      </div>
    </div>

  </div>
</div>
<% end %>