<!-- As a heading -->
<nav class="navbar flex-nowrap navbar--custom__top">

  <div class="container-fluid">
    <span class= "navbar--custom--brand" >Buutic!</span>
  </div>

  <div class="container-fluid d-flex justify-content-end">

    <% if session[:user_id]%>
         <span>Logged in as :  
        <b><%= User.find_by(id:(session[:user_id])).name%></b>
        </span>
        <% else %>
         <span>Logged in as :  
        <b>Guest</b>
        </span>
    <% end %>

  </div>


</nav>

<nav class="navbar navbar-expand-lg navbar--custom__bottom">

  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", home_path, class: "navbar-link-custom"  %>
        </li>


       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-link-custom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu">
            <% @categories.each do |category| %>

            <li><%= link_to category.name, category_products_path(category), class: "dropdown-item" %></li>


            <% end %>
          </ul>

        </li>


        <li class="nav-item">
          <%= link_to "About", about_path, class: "navbar-link-custom"  %>
        </li>
         <li class="nav-item">
          <%= link_to "Contact Us", contact_path, class: "navbar-link-custom"  %>
        </li>
      </ul>
    </div>
  </div>
  

  <div class="container-fluid d-flex justify-content-end">
       <ul class="navbar-nav ">


       <li class="nav-item">
          <div class="container">
            <% if session[:user_id] %>
              <%= link_to cart_path, class: "navbar-link-custom" do%>
              <i class="bi bi-cart-fill"></i>
              <%end%>
            <% end %>
          </div>
        </li>

         <li class="nav-item">
          <% if session[:user_id] %>
            <%= link_to "Profile", user_profile_path(session[:user_id]), class: "navbar-link-custom" %>
          <% end %>   
        </li>

    


        <li class="nav-item">
           <% if session[:user_id]%>
              <%= link_to "Log out", log_out_path, class: "navbar-link-custom", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>      
           <% else %>
            <%= link_to "Log in", log_in_path, class: "navbar-link-custom"  %>
          <% end %>
        </li>
        
          <li class="nav-item">
            <%= link_to "Create Account", new_user_path, class: "navbar-link-custom"  %>
         </li>
      </ul>
  
  </div>


</nav>