
<% if flash[:notice]%>
  <%= render partial: "shared/notice" %> 
<% end%>
<% if flash[:alert]%>
  <%= render partial: "shared/alert" %> 
<% end%>




  
  <div class="container p-3">
    <div class="container-fluid py-2 w-100">
      <h4 class="font-weight-light">Latest Products!</h4>
        <%= render partial: "shared/items-horizontal", locals: { products_array: @last_7_products } %>
    </div>
    
    <% Category.ids.each do |id|%>
      <div class="container-fluid py-2 w-100 mt-5 mb-5">
        <h4><%=link_to Category.find_by(id: id).name, category_products_path(id),
        class: "custom-home-subtitles"%></h4>
          <%= render partial: "shared/items-horizontal", locals: { products_array: Category.get_items_by_category(id,7)} %>
      </div>
    
    <% end%>
    
  </div>











