
<div class="container-fluid py-2 w-75">
  <h2 class="font-weight-light">
    <h2>Your Cart</h2>
  </h2>

  <div class="d-flex flex-column">
    <% @cart_items.each do |item| %>
      <div class="d-flex card-custom-cart">

        <div class="card-custom-cart-image">
         <%= image_tag item.product.image, alt: "Product Image" %>
        </div>


        <div class="card-custom-cart-info">   
            <div class="card-custom-cart-info-title"> <%= item.product.name%> </div>
            <div class="card-custom-cart-info-stock">  in Stock </div>
            <div class="card-custom-cart-info-options"> 
                <div class="card-custom-cart-info-options-qty">
                  
                    <%= item.quantity%>
             
                 </div>
                <div class="card-custom-cart-info-options-delete"> 
                    <%= link_to "Delete", cart_cart_item_path(id: item.id),
                    data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> 
                 </div>
            </div>
        </div>

        <div class="card-custom-cart-price">   
            <%= item.product.price*item.quantity%>
        </div>
      </div>
    <% end %>
    <div>
      <div> 
        <span> Subtotal: $<%= @subtotal %> </span>

      </div>
      <div>
        <%= link_to "Proceed to Checkout", new_user_purchase_path(@user)%>
        
      </div>
    
    </div>

  </div>


</div>



