

<div class="container-fluid py-2 w-75">
  <h2 class="font-weight-light">
  <%= @category.name%>
  </h2>

  <div class="custom-category-container">
    <% @products.each do |product| %>
      <div class="custom-category-card">
        <div class="custom-category-card-top">
          <%= link_to product_path(product) do %>
            <%= image_tag product.image.variant(resize_to_limit: [300,300]).processed, class: "custom-category-card-image" %>
          <% end %>

        </div>
        <div class="custom-category-card-bottom">
          <div class="custom-category-card-bottom-price">$<%=product.price%></div>
          <div class="custom-category-card-bottom-name"><%=product.name%></div>
        </div>
      </div>
    <% end %>
  </div>


</div>



