<div class="container-fluid mt-5 pb-5">

  <div class="container custom-product-container">

    <div class="row pb-5">

      <div class="col-6 custom-product-image">
        <%= image_tag @product.image, alt: "Product Image", class: "card-custom-image" %>
      </div>
      <div class="col-3 custom-product-info">
        <h3><%= @product.name %></h3>
        <h5><%= @product.category.name %></h5>

            <div class="custom-product-info-price mt-3">
              $<span class="price"><%= @product.price %></span>
            </div>

            <div class="custom-product-info-description mt-3">
            <h5>About this item</h5>

            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= @product.brand %></li>
              <li class="list-group-item"><%= @product.description_1 %></li>
              <li class="list-group-item"><%= @product.description_2 %></li>
            
            </ul>
            </div>

      </div>
      <div class="col-2 custom-product-actions d-flex flex-column ms-5">

        <div>
          <div class= "custom-product-actions-price mb-2"><span>$<%= @product.price %></span></div>

          
          <div class= "custom-product-actions-qty"><span>There are <%= @product.quantity %> left in stock</span></div>
        </div>

        <div class= "custom-product-actions-stock mt-5 text-end" >
            <% if @product.quantity > 0%>
              <span class="custom-text-success">In Stock</span>
              <% else %>
              <span class="custom-text-danger">Sold Out</span>
            <% end %>
        </div>

        <div class= "d-flex align-items-center justify-content-end mb-4">
        <span>Qty:</span>
      <select class="form-select w-25 ms-2">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

        </div>

        <div class= "d-flex flex-column justify-content-center h-100">
          <button type="button" class="custom-product-buttons-btn btn_cart mb-1">Add to Cart</button>
          <button type="button" class="custom-product-buttons-btn btn_buy">Buy</button>
        </div>

      </div>
    </div>

    <div class="row mt-5 py-5">
          <div class="container-fluid py-2 w-75">
          <h2 class="font-weight-light">Latest in <%= @product.category.name %></h2>
          <%= render partial: "shared/items-horizontal", locals: { products_array: @latest_5_category_products } %>
      </div>
    </div>




    <div class="row mt-5 pb-5">
    
        <div class="container-fluid w-50">
            <div><h5>Latest reviews</h5></div>
            <div>
              <% @latest_5_reviews.each do |review|%>
              <div class="container mt-5">
                  <div class="product-review-user"><%= review.user.name%> <%= review.user.last_name%> </div>
                      <div>
                      <span class= "product-review-rating"><%= review.rating%>/5</span>
                      <span class= "product-review-title"><%= review.title %> </span>
                  </div>
                  <div class= "product-review-data"> Review created at: <%= review.created_at.strftime('%Y-%m-%d') %></div>
                  <div class="product-review-comment"><%= review.comment %></div>
              </div>
              <% end%>
            </div>  
          
        </div>
    
    
    </div>


  </div>

</div>
