<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   
   
 
  </head>



  <body class="d-flex flex-column" > 

  <header>
  <%= render partial: 'shared/navbar' %>
    </header>

  <% if flash[:notice]%>
    <%= render partial: "shared/notice" %> 
  <% end%>
  <% if flash[:alert]%>
    <%= render partial: "shared/alert" %> 
  <% end%>


    <main class= "main-body">
    
    <%= yield %>
    
    </main>


  <footer class="mt-auto">
  <%= render partial: "shared/footerbar"%>
  </footer>


  </body>




</html>
